<div class="jumbotron">
  <h1>Action Chat</h1>
  <p>Ruby on Rails5のAction Cableを使ったWebSocketチャット</p>
</div>

<div class="input-group">

  <input type="text" class="form-control" data-behavior="speak_chat_messages"  aria-describedby="basic-addon2">
  <span class="input-group-addon glyphicon glyphicon-share-alt" aria-hidden="true"></span>
</div>

<hr>
<ul class="list-group" id='chat_messages'>
</ul>
